doctype html
html(lang="ja")
  head
    include ./common/_head.pug
  body
    header
      include ./common/_header.pug
    main
    footer
      include ./common/_footer.pug
    include ./common/_script.pug